 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div id="iconeNavigation"
      <ul class="nav navbar-nav navbar-right">
        <li class=""><a href="{{ path('swap_platform_inscription') }}">S'inscrire</a></li>
        <li class="separation">|</li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        Connecté en tant que {{ app.user.username }}
        -
        <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
        {% else %}
        <li class=""><a data-toggle="modal" href="#myModal">Connexion</a></li>
        {% endif %}
      </ul>
    </div>
    </div>
  </div>
</nav>

 