{% extends "SwapPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}

<div class="container">

		<div class="col-md-offset-1 col-md-7">
			<div class="panel-body shadow Compte">
				<span class="titreCompte"><p>Mes demandes reçu</p><span>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel-body shadow Compte">
						<span class="titreCompte"><p>Mes demandes reçu</p><span>	
				</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel-body shadow Compte">
						<span class="titreCompte"><p>Mes demandes envoyées</p><span>
				</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel-body shadow Compte">
						<span class="titreCompte"><p>Prochains services que vous allez recevoir</p><span>
				</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel-body shadow Compte">
						<span class="titreCompte"><p>Historique des services que vous avez rendus</p><span>
				</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel-body shadow Compte">
						<span class="titreCompte"><p>Historique des services qui vous ont été rendus</p><span>
				</div>
			</div>
			</div>
			</div>
			</div>
			</div>
			</div>
		</div>
	</div>
</div>
			
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% endblock %}